body {
/*color:red;*/
/*background-color:black;*/
background-position:center top;
background-repeat:no-repeat;
text-align: center;
vertical-align:central;
}

p {
  height:300px;
  line-height:300px;
  font-size:  xx-large;
}